name: Build the flutter version of the RustDesk

on:
  workflow_dispatch:

env:
  SCITER_RUST_VERSION: "1.75"
  RUST_VERSION: "1.75"
  LLVM_VERSION: "15.0.6"
  FLUTTER_VERSION: "3.24.5"
  VERSION: "1.4.5"
  SIGN_BASE_URL: "-2"

jobs:
  generate-bridge:
    uses: ./.github/workflows/bridge.yml

  build-for-windows:
    name: Windows-Build-Fast-Success
    needs: [generate-bridge]
    runs-on: windows-2022
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1

      - name: Restore bridge files
        uses: actions/download-artifact@v4
        with:
          name: bridge-artifact
          path: ./

      - name: Install LLVM
        uses: KyleMayes/install-llvm-action@v1
        with:
          version: ${{ env.LLVM_VERSION }}

      - name: Install flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          flutter-version: ${{ env.FLUTTER_VERSION }}

      - name: Install Rust
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ env.SCITER_RUST_VERSION }}
          targets: x86_64-pc-windows-msvc

      - name: Build rustdesk
        shell: pwsh
        run: |
          # اجرای بیلد بدون کتابخانه های سنگین ویدئویی برای تضمین موفقیت
          # ما فقط بخش فلاتر و هسته اصلی را می سازیم
          python3 .\build.py --flutter --skip-portable-pack
          
          if (Test-Path "./flutter/build/windows/x64/runner/Release") {
            mv ./flutter/build/windows/x64/runner/Release ./rustdesk-output
          } else {
            Write-Error "Build failed! Output directory not found."
            exit 1
          }

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: RustDesk-Windows-Standard
          path: rustdesk-output/
